{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About - Tweet App</title>
  <link rel="stylesheet" href="{% static 'blog/about.css' %}">
</head>
<body>
  
  
  <main>
    <section id="what-is" class="section">
      <div class="container">
        <h2>What is My Awsome Blog?</h2>
        <p>MyBlog Application is a dynamic microblogging platform that enables users to share their thoughts, engage in conversations, and stay updated with real-time information.</p>
      </div>
    </section>
    
    <section id="features" class="section">
      <div class="container">
        <h2>Key Features</h2>
        <ul>
          <li><b>User Authentication:</b> Allow users to create accounts, log in, and manage their profiles. This feature is crucial for personalized experiences and interactions like commenting, liking, or saving posts.</li>
          <li><b>Content Management System (CMS):</b> An intuitive interface for authors to write, edit, and publish blog posts. It should include formatting options, media embedding, and scheduling capabilities.</li>
          <li><b>Responsive Design:</b> Ensure the application is accessible and looks good across various devices (desktops, tablets, and mobile phones) to accommodate different users.</li>
          <li><b>Email Subscription:</b> Offer users the option to subscribe to newsletters or updates, maintaining a consistent readership and audience engagement.</li>
          <li><b>Security Measures:</b> Implement robust security protocols to protect user data, prevent hacking, and ensure safe browsing for both visitors and content creators.</li>
          <!-- Add more features here -->
        </ul>
      </div>
    </section>
    
    <section id="benefits" class="section">
      <div class="container">
        <h2>User Benefits</h2>
        <p>Users experience seamless connectivity, vibrant discussions, and a platform conducive to networking and sharing diverse perspectives within a succinct format.</p>
      </div>
    </section>
    
    <!-- More sections for design, community engagement, etc. -->

  </main>
  
</body>
</html>

{% endblock content %}